{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="content-wrapper">
    <br>
    <div class="central_container_form">
        <h1 class="text-center">Eliminar el técnico:</h1>
        <br><br>
        <ul class="list-group list-group-flush">
                <li class="list-group-item">Nombre de usuario: {{ object.username }}</li>
                <li class="list-group-item">Nombre: {{ object.first_name }}</li>
                <li class="list-group-item">Apellido: {{ object.last_name }}</li>
                <li class="list-group-item">Correo electronico: {{ object.email }}</li>
                <li class="list-group-item">Especialidad:</li>
        </ul>

        <form action="{% url 'usuario:delete' object.id %}" method="post">
            {% csrf_token %}
            <div class="modal-footer">
                <button class="btn btn-danger" type="submit">Eliminar</button>               
                <a href="{% url 'usuario:list' %}" class="btn btn-secondary">Cancelar</a>                
            </div>
        </form>
    </div>
</div>
{% endblock content %}