{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="content-wrapper">
    <br><br>
    {% url 'usuario:technical' as technical_list %}
    {% url 'usuario:employee' as employee_list %}

    <h1 class="text-center">{% if request.path == technical_list %}Técnicos {% elif request.path == employee_list %}
        Empleados{% endif %}</h1>
    <div id="accordion" class="accordion central_container_accordion">
        <br><br>
        {% for usuario in object_list %}
        <div class="card">
            <div class="card-header" id="heading-{{ usuario.id }}">
                <h5 class="mb-0" data-toggle="collapse" data-target="#collapse-{{ usuario.id }}" aria-expanded="true"
                    aria-controls="collapse-{{ usuario.id }}">
                    {{ usuario.first_name}} {{usuario.last_name}}
                </h5>
            </div>

            <div id="collapse-{{ usuario.id }}" class="collapse {% if forloop.first %}show{% endif %}"
                aria-labelledby="heading-{{ usuario.id }}" data-parent="#accordion">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nombre de usuario: {{ usuario.username }}</li>
                    <li class="list-group-item">Nombre: {{ usuario.first_name }}</li>
                    <li class="list-group-item">Apellido: {{ usuario.last_name }}</li>
                    <li class="list-group-item">Correo electronico: {{ usuario.email }}</li>
                    <li class="list-group-item">Admistrador: {{ usuario.especialidad }}</li>
                </ul>
                <div class="text-right">
                    <div class="card-body">
                        <a href="{% url 'usuario:update' usuario.id %}" class="btn btn-primary">Modificar</a>
                        <a href="{% url 'usuario:delete' usuario.id %}" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>

            </div>
        </div>
        {% empty %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">No se han encontrado datos.</h1>
                <p class="lead">Verifique con el administrador tener tecnicos registrados.</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}