{% extends "base.html" %}
{% load static %}

{% block navbar %}
{% endblock navbar%}

{% block content %}
<br><br><br><br><br>
<div class="container col-4">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header text-center">Bienvenido a service RBS</div>
        <div class="card-body">
                <form class="" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control form-control-user" name="username" id="exampleInputEmail"
                                aria-describedby="emailHelp" placeholder="Ingrese su nombre de usuario">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control form-control-user" name="password" id="exampleInputPassword"
                                placeholder="Contraseña">
                        </div>
                        <div class="form-group">
                        </div>
                        <button class="btn btn-primary btn-user btn-block">
                            Iniciar sesión
                        </button>
                    </form>
        </div>
    </div>
</div>
{% endblock content %}