{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="content-wrapper">
    <br><br><br>
    <div class="central_container_form">
        <h1 class="text-center">Eliminar incidente:</h1>
        <br><br><br>
        <ul class="list-group list-group-flush">
                <li class="list-group-item">Nombre del incidente: {{ object.nombre }}</li>
                <li class="list-group-item">Numero de prioridad: {{ object.prioridad }}</li>
                <li class="list-group-item">Fecha de inicio: {{ object.fecha_inicio }}</li>
                <li class="list-group-item">Fecha de fin: {{ object.fecha_fin }}</li>
                <li class="list-group-item">Descripcion: {{ object.descripcion }}</li>
                <li class="list-group-item">Nombre del empleado: {{ object.empleado }}</li>
                <li class="list-group-item">Equipo: {{ object.equipo }}</li>
                
                
        </ul>
        <form action="{% url 'incidente:delete' object.id %}" method="post">
            {% csrf_token %}
            <div class="modal-footer">
                <button class="btn btn-danger" type="submit">Eliminar</button>               
                <a href="{% url 'incidente:list' %}" class="btn btn-secondary">Cancelar</a>                
            </div>
        </form>
    </div>
</div>
{% endblock content %}