{% extends "incidente/estadisticas.html" %}
{% load static %}

{% block stasts %}
    <canvas id="myChart"></canvas>
{% endblock stasts %}


{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script>
    var data = {{datasets_incidents|safe}}
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: data,

        // Configuration options go here
        options: {}
    });
    </script>
{% endblock js %}

{% block stasts_title %}
<br>
<h1 class="text-center">Incidencias registradas por meses en cada año</h1>
<br>
{% endblock stasts_title %}
