{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="central_container_accordion">
        {% block stasts_title %}
        {% endblock stasts_title %}
        <div id="content-wrapper">
            {% block navstast %}
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'incidente:stats-fecha' %}">Estadisticas por fecha</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'incidente:stats-empleado' %}">Estadisticas por empleado</a>
                    </li>
                </ul>
            {% endblock navstast %}
            {% block stasts %}
            {% endblock stasts %}
        </div>
    </div>
{% endblock content %}


{% block styles %}
    {{ block.super }}
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock js %}
