{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="content-wrapper">
    <br><br><br>
    <form class="central_container_form needs-validation was-validated" action="{% url 'incidente:create' %}"
        method="POST">
        <h1 class="text-center">Agregar incidente <a class="fas fa-fw fa-list-ul" href="{% url 'incidente:list' %}"></a>
        </h1><br><br>
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}

        <div class="form-group">
            <p>Nombre del empleado:
                <!--<a id= "directuser" class="fas fa-fw fa-plus-circle" href="{% url 'usuario:create' %}"></a>-->
            </p>
            {{form.empleado}}
        </div>

        <div class="form-group">
            <p>Nombre del equipo: <!--<a id="directuser" class="fas fa-fw fa-plus-circle"
                    href="{% url 'equipo:create' %}"></a>--></p>
            {{form.equipo}}
        </div>

        <div class="form-group">
            <p>Nombre del incidente:</p>
            {{form.nombre}}
        </div>

        <div class="form-group">
            <p>Descripción del empleado:</p>
            {{form.descripcion_del_empleado}}
        </div>

        <div class="form-group">
            <p>Descripción del tecnico:</p>
            {{form.descripcion_del_tecnico}}
        </div>

        <fieldset class="border p-2">
            <legend class="w-auto">Asignar Técnico</legend>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div type="checkbox" class="input-group-text">
                        {{form.estado}}
                    </div>
                </div>
                <p class="form-control" aria-label="Text input with radio button">Solucionado</p>
            </div>
            <div id="panel">
                <br>
                <div class="form-group" class="is-invalid">
                    <p>Tipo de problema:</p>
                    {{form.tipo_problema}}
                </div>

                <div class="form-group" required>
                    <p>Técnico: <!--<a id="directuser" class="fas fa-fw fa-plus-circle"
                            href="{% url 'usuario:create' %}"></a>--></p>
                    {{form.tecnico}}
                </div>

                <div class="form-group" required>
                    <p>Prioridad:</p>
                    {{form.prioridad}}
                </div>
            </div>
        </fieldset>
        <div class="modal-footer">
            <button id="IdAgregar" class="btn btn-primary" type="submit">Agregar</button>
            <a href="#" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
<script>
    (function (document) {
        let id_estado = document.getElementById('id_estado')
        let panel = document.getElementById('panel')

        id_estado.addEventListener('change', (event) => {
            if (event.target.checked) {
                panel.style.display = "none"
            } else {
                panel.style.display = "block"
            }
        })
    })(document)
</script>
{% endblock content %}