{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="content-wrapper">
    <br><br>
    <h1 class="text-center">Incidentes {% if not request.user.tipo_usuario == 2 %}<a class="fas fa-fw fa-plus-circle"
            href="{% url 'incidente:create' %}"></a>{% endif %}
    </h1>
    <div id="accordion" class="accordion central_container_accordion">
        <br><br>
        {% for incidente in object_list %}
        <div class="card">
            <div class="card-header" id="heading-{{ incidente.id }}">
                <h5 class="mb-0" data-toggle="collapse" data-target="#collapse-{{ incidente.id }}" aria-expanded="true"
                    aria-controls="collapse-{{ incidente.id }}">
                    {{ incidente.nombre }} - {{ incidente.fecha_inicio }}
                </h5>
            </div>

            <div id="collapse-{{ incidente.id }}" class="collapse {% if forloop.first %}show{% endif %}"
                aria-labelledby="heading-{{ incidente.id }}" data-parent="#accordion">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Fecha: {{ incidente.fecha_inicio }}</li>
                    <li class="list-group-item">Nombre del empleado: {{ incidente.empleado }}</li>
                    <li class="list-group-item">Equipo: {{ incidente.equipo }}</li>
                    <li class="list-group-item">Nombre del tecnico: {{ incidente.tecnico }}</li>
                    <li class="list-group-item">Nombre del incidente: {{ incidente.nombre }}</li>
                    <li class="list-group-item">Descripcion del empleado: {{ incidente.descripcion_del_empleado }}</li>
                    <li class="list-group-item">Descripcion del técnico: {{ incidente.descripcion_del_tecnico }}</li>
                    <li class="list-group-item">Estado: {{ incidente.mostrar_estado }}</li>
                    <li class="list-group-item">Numero de prioridad: {{ incidente.prioridad }}</li>
                </ul>
                {% url 'incidente:list-finished' as url_incidente %}
                <div class="text-right">
                    <div class="card-body">
                        {% if not url_incidente == request.path %}
                        <a href="#FinalizarModal-{{ incidente.id }}" class="btn btn-success"
                            data-toggle="modal">Finalizar</a>
                        {% if not request.user.tipo_usuario == 2 %}
                        <a href="{% url 'incidente:update' incidente.id %}" class="btn btn-primary">Modificar</a>
                        <a href="{% url 'incidente:delete' incidente.id %}" class="btn btn-danger">Eliminar</a>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
        <div class="modal fade" id="FinalizarModal-{{ incidente.id }}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Finalizar el contrato: {{ incidente.nombre }}
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Fecha: {{ incidente.fecha_inicio }}</li>
                            <li class="list-group-item">Nombre del empleado: {{ incidente.empleado }}</li>
                            <li class="list-group-item">Equipo: {{ incidente.equipo }}</li>
                            <li class="list-group-item">Nombre del tecnico: {{ incidente.tecnico }}</li>
                            <li class="list-group-item">Nombre del incidente: {{ incidente.nombre }}</li>
                            <!--<li class="list-group-item">Descripcion del empleado: {{ incidente.descripcion_del_empleado }}</li>
                            <li class="list-group-item">Descripcion del técnico: {{ incidente.descripcion_del_tecnico }}</li>-->
                            <li class="list-group-item">Estado: {{ incidente.mostrar_estado }}</li>
                            <li class="list-group-item">Numero de prioridad: {{ incidente.prioridad }}</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <form action="{% url 'incidente:finish' incidente.id %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="estado" value="false">
                            <button type="submit" class="btn btn-primary">Aceptar</button>
                        </form>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">No se han encontrado datos.</h1>
                <p class="lead">Verifique con el administrador o el call-center tener incidentes creados.</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}