{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="content-wrapper">
    br<br><br>
    <form class="central_container_form needs-validation was-validatedx"
        action="{% url 'incidente:update' object.id %}" method="POST">
        <h1 class="text-center">Modificar incidente <a class="fas fa-fw fa-list-ul" href="{% url 'incidente:list' %}"></a></h1><br><br><br>
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
        {% endfor %}
        {{form.empleado}}
        <br>
        {{form.equipo}}
        <br>
        {{form.nombre}}
        <br>
        {{form.descripcion_del_empleado}}
        <br>
        {{form.descripcion_del_tecnico}}
        {{form.estado}}
        <div class="modal-footer">
            <button id="IdAgregar" class="btn btn-primary" type="submit">Guardar</button>
            <a href="{% url 'incidente:list' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock content %}
