{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="content-wrapper">
    <br><br><br>
    <div class="central_container_form">
        <h1 class="text-center">Eliminar equipo:</h1>
        <br><br><br>
        <ul class="list-group list-group-flush">
                <li class="list-group-item">Nombre de equipo: {{ equipo.nombre }}</li>
                <li class="list-group-item">Serial: {{ equipo.serial }}</li>
                <li class="list-group-item">Procesador: {{ equipo.procesador }}</li>
                <li class="list-group-item">Ram: {{ equipo.ram }}</li>
                <li class="list-group-item">Placa base: {{ equipo.placa_base }}</li>
                <li class="list-group-item">Sistema operativo: {{ equipo.sistema_operativo }}</li>
                <li class="list-group-item">Garantía: {{ equipo.garantia }}</li>
                <li class="list-group-item">Empleado responsable: {{ equipo.empleado }}</li>
                <li class="list-group-item">Area: {{ equipo.empleado.area }}</li>
                
                
        </ul>
        <form action="{% url 'equipo:delete' object.id %}" method="post">
            {% csrf_token %}
            <div class="modal-footer">
                <button class="btn btn-danger" type="submit">Eliminar</button>               
                <a href="{% url 'equipo:list' %}" class="btn btn-secondary">Cancelar</a>                
            </div>
        </form>
    </div>
</div>
{% endblock content %}