{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="content-wrapper">
    <br><br>
    <h1 class="text-center">Equipo <a class="fas fa-fw fa-plus-circle" href="{% url 'equipo:create' %}"></a></h1>
    <div id="accordion" class="accordion central_container_accordion">
        <br><br>
        {% for equipo in object_list %}
        <div class="card">
            <div class="card-header" id="heading-{{ equipo.id }}">
                <h5 class="mb-0" data-toggle="collapse" data-target="#collapse-{{ equipo.id }}" aria-expanded="true"
                    aria-controls="collapse-{{ equipo.id }}">
                    {{ equipo.nombre}}
                </h5>
            </div>

            <div id="collapse-{{ equipo.id }}" class="collapse {% if forloop.first %}show{% endif %}"
                aria-labelledby="heading-{{ equipo.id }}" data-parent="#accordion">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nombre de equipo: {{ equipo.nombre }}</li>
                    <li class="list-group-item">Serial: {{ equipo.serial }}</li>
                    <li class="list-group-item">Procesador: {{ equipo.procesador }}</li>
                    <li class="list-group-item">Ram: {{ equipo.ram }}</li>
                    <li class="list-group-item">Placa base: {{ equipo.placa_base }}</li>
                    <li class="list-group-item">Sistema operativo: {{ equipo.sistema_operativo }}</li>
                    <li class="list-group-item">Garantía: {{ equipo.garantia }}</li>
                    <li class="list-group-item">Empleado responsable: {{ equipo.empleado }}</li>
                    <li class="list-group-item">Area: {{ equipo.empleado.area }}</li>

                </ul>
                <div class="text-right">
                    <div class="card-body">
                        <a href="{% url 'equipo:update' equipo.id%} " class="btn btn-primary">Modificar</a>
                        <a href="{% url 'equipo:delete' equipo.id%}" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>

            </div>
        </div>
        {% empty %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">No se han encontrado datos.</h1>
                <p class="lead">Verifique con el administrador tener equipos registrados.</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}