{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="content-wrapper">
    <br>
    <div class="central_container_form">
        <h1 class="text-center">Eliminar el empleado:</h1>
        <br><br>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Nombre de empleado: {{ empleado.nombre_completo }}</li>
            <li class="list-group-item">Documento de identidad: {{ empleado.documento_identidad }}</li>
            <li class="list-group-item">Dirección: {{ empleado.direccion }}</li>
            <li class="list-group-item">Teléfono: {{ empleado.telefono }}</li>
            <li class="list-group-item">Correo electrónico: {{ empleado.correo_electronico }}</li>
        </ul>

        <form action="{% url 'empleado:delete' object.id %}" method="post">
            {% csrf_token %}
            <div class="modal-footer">
                <button class="btn btn-danger" type="submit">Eliminar</button>
                <a href="{% url 'empleado:list' %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}