{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="content-wrapper">
    <br><br>
    <h1 class="text-center">Empleado <a class="fas fa-fw fa-plus-circle" href="{% url 'empleado:create' %}"></a></h1>
    <div id="accordion" class="accordion central_container_accordion">
        <br><br>
        {% for empleado in object_list %}
        <div class="card">
            <div class="card-header" id="heading-{{ empleado.id }}">
                <h5 class="mb-0" data-toggle="collapse" data-target="#collapse-{{ empleado.id }}" aria-expanded="true"
                    aria-controls="collapse-{{ empleado.id }}">
                    {{ empleado.nombre_completo}}
                </h5>
            </div>

            <div id="collapse-{{ empleado.id }}" class="collapse {% if forloop.first %}show{% endif %}"
                aria-labelledby="heading-{{ empleado.id }}" data-parent="#accordion">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nombre de empleado: {{ empleado.nombre_completo }}</li>
                    <li class="list-group-item">Documento de identidad: {{ empleado.documento_identidad }}</li>
                    <li class="list-group-item">Dirección: {{ empleado.direccion }}</li>
                    <li class="list-group-item">Teléfono: {{ empleado.telefono }}</li>
                    <li class="list-group-item">Correo electrónico: {{ empleado.correo_electronico }}</li>
                    <li class="list-group-item">Area: {{ empleado.area }}</li>
                </ul>
                <div class="text-right">
                    <div class="card-body">
                        <a href="{% url 'empleado:update' empleado.id %}" class="btn btn-primary">Modificar</a>
                        <a href="{% url 'empleado:delete' empleado.id %}" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>

            </div>
        </div>
        {% empty %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">No se han encontrado datos.</h1>
                <p class="lead">Verifique con el administrador que existan empleados.</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}