{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="content-wrapper">
    <br><br>
    <form class="central_container_form needs-validation was-validated" action="{% url 'especialidad:create' %}" method="POST">
        <h1 class="text-center">Agregar especialidad <a class="fas fa-fw fa-list-ul" href="{% url 'especialidad:list' %}"></a></h1><br><br>
        {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}<small class="form-text text-muted">{{ field.help_text }}</small>{% endif %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
        <div class="modal-footer">
            <button id="IdAgregar" class="btn btn-primary" type="submit">Agregar</button>
            <a href="{% url 'especialidad:list' %}" class="btn btn-secondary">Cancelar</a>
            <!--<a class="btn btn-primary" href="Login.html">Agregar</a>-->
        </div>
    </form>
</div>
{% endblock content %}