{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="content-wrapper">
    <br><br>
    <h1 class="text-center">Especialidad <a class="fas fa-fw fa-plus-circle" href="{% url 'especialidad:create' %}"></a>
    </h1>
    <div id="accordion" class="accordion central_container_accordion">
        <br><br>
        {% for especialidad in object_list %}
        <div class="card">
            <div class="card-header" id="heading-{{ especialidad.id }}">
                <h5 class="mb-0" data-toggle="collapse" data-target="#collapse-{{ especialidad.id }}"
                    aria-expanded="true" aria-controls="collapse-{{ especialidad.id }}">
                    {{ especialidad.nombre}}
                </h5>
            </div>

            <div id="collapse-{{ especialidad.id }}" class="collapse {% if forloop.first %}show{% endif %}"
                aria-labelledby="heading-{{ especialidad.id }}" data-parent="#accordion">
                <div class="text-right">
                    <div class="card-body">
                        <a href="{% url 'especialidad:update' especialidad.id %}" class="btn btn-primary">Modificar</a>
                        <a href="{% url 'especialidad:delete' especialidad.id %}" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">No se han encontrado datos.</h1>
                <p class="lead">Verifique con el administrador tener especialidades creadas.</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}