<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Services 2.0 RBS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!--<a class="nav-item nav-link active" href="#">Inicio</a>-->

            {% if request.user.tipo_usuario == 2 %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Incidentes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'incidente:my-list' %}">Mis incidentes</a>
                    <a class="dropdown-item" href="{% url 'incidente:my-list-finished' %}">Mis incidentes finalizados</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Incidentes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'incidente:list' %}">todos los incidentes</a>
                        <a class="dropdown-item" href="{% url 'incidente:list-finished' %}">todos los incidentes finalizados</a>
                    </div>
                </li>
            {% endif %}

            {% if request.user.is_staff %}
            <a class="nav-item nav-link" href="{% url 'usuario:technical' %}">Técnicos</a>
            <a class="nav-item nav-link" href="{% url 'usuario:employee' %}">Empleados</a>
            <a class="nav-item nav-link" href="{% url 'equipo:list' %}">Equipos</a>
            <a class="nav-item nav-link" href="{% url 'especialidad:list' %}">Especialidades</a>
            <a class="nav-item nav-link" href="{% url 'area:list' %}">Áreas</a>
            <a class="nav-item nav-link" href="{% url 'usuario:create' %}">Agregar un usuario</a>
            <a class="nav-item nav-link" href="{% url 'incidente:stats' %}">Estadisticas</a>
            {% endif %}
        </div>
    </div>
    <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Cerrar sesión</a>
                </div>
            </li>
        </ul>
    </nav>
    
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cerrar Sesión</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">¿Está seguro de cerrar sesión?, para confirmar presione el botón Salir.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="{% url 'usuario:logout' %}">Salir</a>
                </div>
            </div>
        </div>
    </div>
    
</nav>
