{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="content-wrapper">
    <br>
    <div class="central_container_form">
        <h1 class="text-center">Eliminar la área:</h1>
        <br><br>
        <ul class="list-group list-group-flush">
                <li class="list-group-item">Nombre del área: {{ object.nombre }}</li>
        </ul>

        <form action="{% url 'area:delete' object.id %}" method="post">
            {% csrf_token %}
            <div class="modal-footer">
                <button class="btn btn-danger" type="submit">Eliminar</button>               
                <a href="{% url 'area:list' %}" class="btn btn-secondary">Cancelar</a>                
            </div>
        </form>
    </div>
</div>
{% endblock content %}