{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="content-wrapper">
    <br><br>
    <h1 class="text-center">Área <a class="fas fa-fw fa-plus-circle" href="{% url 'area:create' %}"></a></h1>
    <div id="accordion" class="accordion central_container_accordion">
        <br><br>
        {% for area in object_list %}
        <div class="card">
            <div class="card-header" id="heading-{{ area.id }}">
                <h5 class="mb-0" data-toggle="collapse" data-target="#collapse-{{ area.id }}" aria-expanded="true"
                    aria-controls="collapse-{{ area.id }}">
                    {{ area.nombre}}
                </h5>
            </div>
            <div class="text-right">
                <div id="collapse-{{ area.id }}" class="collapse {% if forloop.first %}show{% endif %}"
                    aria-labelledby="heading-{{ area.id }}" data-parent="#accordion">
                    <div class="card-body">
                        <a href="{% url 'area:update' area.id %}" class="btn btn-primary">Modificar</a>
                        <a href="{% url 'area:delete' area.id %}" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">No se han encontrado datos.</h1>
                <p class="lead">Verifique con el administrador que existan areas.</p>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

{% endblock content %}